<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <div class="container">
      <h1>Login Using</h1>
      <div class="login-options">
        <a href="/auth/facebook" class="login facebook">facebook</a>
        <a href="/auth/google" class="login google">Google+</a>
      </div>
    </div>
  </body>
</html>
